{% extends 'base.html' %}

{% block title %}Leave Requests{% endblock %}

{% block content %}
    <h1 class="my-4">Leave Requests</h1>
    <a href="{% url 'leave_request_add' %}" class="btn btn-success mb-3">Add New Leave Request</a>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Employee</th>
                <th>Leave Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Reason</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for leave_request in leave_requests %}
                <tr>
                    <td>{{ leave_request.employee }}</td>
                    <td>{{ leave_request.leave_type }}</td>
                    <td>{{ leave_request.start_date }}</td>
                    <td>{{ leave_request.end_date }}</td>
                    <td>{{ leave_request.reason }}</td>
                    <td>{{ leave_request.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
